{% extends 'agenda/base.html' %}
{% load staticfiles %}


{% block content %}
    <div>
      <div>
        <a class="btn btn-primary" href="{% url 'disciplina_edit' pk=disciplina.pk %}">Editar Disciplina</a>
      </div>
      <br>
            <div class="">
              <p>Nome da Disciplina: {{ disciplina.nome_disciplina }}</p>
              <p>Nome do professor: {{disciplina.professor}}</p>
              <p>Carga Horária: {{disciplina.carga_horaria}}h</p>
              <p>Período: {{disciplina.periodo}}</p>
              <p>Bibliografia: {{disciplina.bibliografia}}</p>
              <br>
              <div class="">
                <h6>Plano de Aulas</h6>
                  <a class="btn btn-primary" href="{% url 'plano_de_aula' pk=disciplina.pk %}">Gerar plano de Aulas</a>
              </div>

            </div>


    </div>
{% endblock %}
