{% extends 'agenda/base.html' %}
{% load staticfiles %}

{% block content %}
<style media="screen">
  .feriado{
    color:red;
  }
  .prova{
    color: purple;
  }
</style>
    <div>
      <h6>Aulas</h6>
      <strong>Agosto</strong>
      <ul class="list-group">

        <li class="list-group-item"><a href="#">07-08-2017</a></li>
        <li class="list-group-item feriado"><a href="#">14-08-2017</a><span>Feriado</span></li>
        <li class="list-group-item"><a href="#">21-08-2017</a></li>
        <li class="list-group-item"><a href="#">28-08-2017</a></li>

      </ul>
      <strong>Setembro</strong>
      <ul class="list-group">

        <li class="list-group-item"><a href="#">02-09-2017</a></li>
        <li class="list-group-item"><a href="#">04-09-2017</a></li>
        <li class="list-group-item"><a href="#">11-09-2017</a></li>
        <li class="list-group-item prova"><a href="#">18-09-2017</a>Prova</li>

      </ul>
    </div>
{% endblock %}
